h1 {
    color: #ffffff !Important;
    text-align: center;
}

h3 {
    color: #0275d8 !Important;
    text-align: center;
}

.carousel {
    margin: auto;
    width: 70%;
    padding: 30px;
    position: sticky;
}