
.carousel {
  width: 100%;
  position: sticky;
  padding: 50px;
}

.carousel-caption{
	top:30%;
}

.carousel-caption > p{
  font-size: 18px;
  color:#ffffff!Important;
}

.carousel-caption > h2{
  font-size: 50px;
  color:#ffffff !Important;
}

body {
	color: #ffffff;
}

h1{
	font-size: 50px;
}

p{
	font-size: 20px;
}

#text{
	padding: 50px;
	position: sticky;
}