
body{
	font-family:"Crimson-Text";
}

#signin{
	position: relative;
	left: 400px;
	font-size:20px;
}

#signup{
	position:relative;
	left: 400px;
	font-size:20px;
}

body{
	background-color:#000000;
}

.navbar-nav{
	position: sticky;
	left: 700px;
	font-size: 20px;
	font-color:#000000;
	z-index: 10;
}

.navbar-brand{
	position: relative;
	font-size:30px;
}

.carousel {
  width: 65%;
  margin: auto;
  position: sticky;
}

.carousel-caption{
	top:60%;
}

.carousel-caption > p{
  font-size: 18px;
  color:#ffffff!Important;
}

.carousel-caption > h2{
  font-size: 50px;
  color:#ffffff !Important;
}
