.row{
	padding-top: 30px;
	color: #ffffff !Important;
	padding-left: 40px;
	padding-right: 30px;
}

h2 {
	color: #0275d8 !Important;
}

h1{
	color: #ffffff !Important;
	padding-left: 40px;
	padding-top: 20px;
}

h5{
	padding-left: 40px;
	color: #ffffff !Important;
}

h5 a{
	color: #0275d8 !Important;
}

	

 

