{% extends 'LinkedOn/base.html' %}
{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static "css/aboutus.css" %}">
{% endblock %}

{% block title_block %}
About Us
{% endblock %}

{% block body_block %}
<!-- source: https://getbootstrap.com/docs/4.0/components/jumbotron/-->

<div class="jumbotron text-center">
	<h1>Hello, world! This is LinkedOn.</h1>
    <p>We are a Glasgow based startup committed to making networking easier than ever! We want to help you on your journey, whatever or whoever you may be looking for.</p>
    <hr>
	<p>If you haven't already done so, sign up here! You'll be able to enjoy all features of LinkedOn for free.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="{% url 'LinkedOn:signup' %}" role="button">Sign Up</a>
	</p>
</div>








{% endblock %}