{% extends 'LinkedOn/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/editprofile.css" %}">
{% endblock %}

{% block title_block %}
    Edit profile
{% endblock %}

{% block body_block %}
    <!--general forms taken from https://getbootstrap.com/docs/4.0/components/forms/-->
    <form id="user_form" method="post" action="{% url 'LinkedOn:edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <!--left column-->
            <div class="col-md-4" id="left">
                <h1> Edit your profile here.</h1>
            </div>

            <!--middle column-->
            <div class="col-md-4" id="middle">
                <textarea name="first_name" class="form-control" placeholder="First Name" rows="1"></textarea>
                <textarea name="last_name" class="form-control" placeholder="Last Name" rows="1"></textarea>
				{% if currentUser.isEmployer %}
					<textarea id="formCompany" name="company" class="form-control" placeholder="Company" rows="1"></textarea>
				{% else %}
					<input name="profileImage" class="form-control form-control-sm" id="formFileSm" type="file" accept="image/*">
				{% endif %}
                <textarea name="website" class="form-control" placeholder="Portfolio/ Website" rows="1"></textarea>
                
				<button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Update Profile</button>
            </div>

            <!--right column-->
            <div class="col-md-4" id="right">
				{% if currentUser.isEmployer == False %}
					<textarea name="about" class="form-control" id="sentences" placeholder="Describe yourself in three sentences!" rows="5"></textarea>
					<textarea name="searchingInfo" class="form-control" id="describe" placeholder="Who are what are you looking for? Go into detail here!" rows="10"></textarea>
					<div class="form-group">
						<select name="category" class="form-control" id="exampleFormControlSelect1">
							<option> Select Category</option>
							{% for c in categories %}
								<option>{{ c.name }}</option>
							{% endfor %}
						</select>
				{% endif %}
                </div>
                
            </div>
        </div>
    </form>
{% endblock %}