{% extends 'LinkedOn/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/profiles.css" %}">
{% endblock %}

{% block title_block %}
    Browse Profiles
{% endblock %}

{% block body_block %}
    <h1> Profiles </h1>
    <div class="row">
        <!--iterate through profiles and show name, image and about section-->
        {% for p in profiles %}
            <div class="col-md-4">
                <a href="{% url 'LinkedOn:show_profile' p.id %}">
                    <h2> {{ p.user.first_name }} {{ p.user.last_name }}</h2>
                    <!--if profileImage exists, show it; else show alternative image-->
                    {% if p.profileImage %}
                        <img src="{{ p.profileImage.url }}" altsrc="{% static 'images/template_profile.png' %}" alt="profile picture" onerror="this.src = $(this).attr('altsrc');"/>
                    {% else %}
                        <img src="{% static 'images/template_profile.png' %}" alt="profile picture"/>
                    {% endif %}
                    <h5> {{ p.about }} </h5>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}