{% extends 'LinkedOn/base.html' %}
{% load staticfiles %}

{% block head_block %}
    <link rel="stylesheet" href="{% static "css/settings.css" %}">
{% endblock %}

{% block title_block %}
    Account Settings
{% endblock %}


{% block body_block %}
    <div class="row">
	<div class="col-md-7">
			<h1>Account Settings</h1>
            <a type="button" id="changepassword" href="{% url 'LinkedOn:change_password' %}" class="btn btn-dark">Change Password</a>
            <a type="button" id="delacc" href="{% url 'LinkedOn:delete_acc' %}" class="btn btn-primary">Delete Account</a>
        </div>
    </div>
{% endblock %}